{% block report_filter %}
    {% set filter = template.filter %}
    {% set filterForm = filter.getForm() %}
    
    <!-- FILTER -->
    {% if filterForm %}
        {% set filterForm = filterForm.createView()%}
        {% form_theme filterForm 'EarlsRhinoReportBundle:Report/Form:filter_display.html.twig' %}
        <div class="reportFilter">
            <form method="GET">
                <fieldset class="filter_legend">
                    <legend class="filter_legend">Filters</legend>
                    <div class="panel panel-default">
                        {{ form_widget(filterForm, {attr: {class: 'table table-bordered table-condensed'}}) }}
                    </div>
                    <div class="well well-sm">
                        <input class="btn btn-primary" type="submit" name="submit-filter" value="Filter" />
                        <a class="btn btn-default" href="{{ app.request.server.get('SCRIPT_URI') }}">Reset</a>
                    </div>
                </fieldset>
            </form>
        </div>
    {% endif %}
    <!-- FILTER -->
{% endblock %}